*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    min-height: 100vh;
    padding: 30px;
    background-image: url(./image/21092.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
td{
    vertical-align: top;
    margin: 5px;
}
.page-center{
    max-width: 60%;
    margin: auto;
}
.top-img img{
    width: 100%;
}
.container{
    display: flex;
    min-height: 80vh;
}
.ctn-nav{
    width: 21.5%;
    position: relative;
}
.nav-img{
    /*float: right;
    */position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.6;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
    /*vertical-align: bottom !important;
    */

}
/* .box-img{
    position: absolute;
    bottom: 0;
    right: ;
    display: flex;
} */
.ft-left, .ft-right{
    position: relative;
}
.ft-left img{
    position: absolute;
    bottom: 0;
    right: 0;
    /* float:right;  */
    opacity:0.6;
    
}
.ft-right img{
    position: absolute;
    left: 0;
    bottom: 0;
    padding-top:60px;
     opacity:0.6;
}
.cnt-img{
    position: absolute;
    opacity: 0.5;
    bottom: 0;
    left: 0;
}
.ctn-content{
    width: 78.5%;
    background-color: rgb(222, 165, 60);
    vertical-align: bottom;

}
.ctn-nav, .ctn-content{
    /* border: 1px solid; */
}
.ctn-nav{

}
.ctn-content{

}
.list{
    padding: 20px 0;
    list-style: none;
    float: right;
}
.btn-nav{

}
.ctn-content{
    display: flex;
}
.ctn-content-text{
    width: 60%;
    float: left;
    font-weight: bold;
    font-size: 1.1rem;
    position: relative;

}

.ctn-content-text span{
    font-size: 2rem;
    font-weight: 700;
}
.ctn-content-text p{
    padding: 10px;
}
.ctn-content-img{
    width: 30%;
    padding-top: 30px;

}
.ctn-content-img img{
    width: 80%;
    margin: auto;
    padding: 10px ;
}
.tb-form{
    padding: 0.9rem;
}
.ctn-rg{
    display: block;
    padding: 20px;
    position: relative;
}
@media only screen and (max-width:900px) {
    .page-center{
        max-width: 90%;
        margin: auto;
    }
    .ctn-content{
        display: block;
    }
    .ctn-content-text{
        padding: 10px;
        width: 90%;
    }
    .ctn-content-img{
        margin: 0 30px;
        float: right;
        width: 70%;
    }
    .ctn-content-img img{
        width: 100%;
    }
    /* .ft-left, .ft-right{
        margin-top: 50px;
    } */
}